@using Microsoft.AspNetCore.Identity;
@using NackowskisAuctionHouse.DAL.IdentityModels;
@using NackowskisAuctionHouse.DAL.Models;

@model Auction;

@inject UserManager<AppUser> UserManager;

@{
    var user = await UserManager.GetUserAsync(User);
}

<h2>Ändra Auktion</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PushEditAuction" asp-controller="Admin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="@Model.Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" value="@Model.Titel" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beskrivning" class="control-label"></label>
                <textarea asp-for="Beskrivning" class="form-control" rows="3" value="@Model.Beskrivning" />
                <span asp-validation-for="Beskrivning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.StartDatum" class="control-label"></label>
                <input asp-for="StartDatum" type="datetime-local" class="form-control" id="fromDatepicker" width="220" value="@Model.StartDatum" />
                <span asp-validation-for="StartDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.SlutDatum" class="control-label"></label>
                <input asp-for="SlutDatum" type="datetime-local" class="form-control" id="toDatepicker" width="220" value="@Model.SlutDatum" />
                <span asp-validation-for="SlutDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Gruppkod" class="form-control" value="1060" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="Utropspris" class="control-label"></label>
                <input asp-for="Utropspris" class="form-control" value="@Model.Utropspris" />
                <span asp-validation-for="Utropspris" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkapadAv" class="control-label"></label>
                <label class="control-label">@user.Email</label>
                <input asp-for="SkapadAv" class="form-control" type="hidden" value=" @user.Email" />
                <span asp-validation-for="SkapadAv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="AuktionID" class="form-control" type="hidden" value="@Model.AuktionID" />
                <span asp-validation-for="AuktionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>