@using NackowskisAuctionHouse.ViewModels;

@model SearchResultVM

<table class="table">

    <tr>
        <th scope="row">Titel</th>
        <th>Utropspris</th>
        <th>Aktuellt bud</th>
        <th>Slut datum</th>
    </tr>



   

    @foreach (var item in Model.Results)
    {
        var highestBid = item.Bids.OrderBy(x => x.Summa).First();
        var temp = (highestBid.Summa != 0) ? highestBid.Summa.ToString() : "Inga bud";
        <tr>
            <td scope="row"><a asp-action="GetAuction" asp-route-auctionid="@item.Auction.AuktionID">@item.Auction.Titel</a></td>
            <td>@item.Auction.Utropspris</td>
            <td>@temp</td>
            <td>@item.Auction.SlutDatum</td>
        </tr>
    }

</table>

